@page
@model LibraryAutomation.Pages.LoginModel

@{
    ViewData["Title"] = "Giriş Yap";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white text-center">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="card-body">
                <section>
                    <form id="account" method="post">
                        <p class="text-center">Giriş yapmak için bilgilerinizi kullanın.</p>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.KullaniciAdi" class="form-control" autocomplete="username" aria-required="true" placeholder="Kullanıcı Adı" />
                            <label asp-for="Input.KullaniciAdi" class="form-label">Kullanıcı Adı</label>
                            <span asp-validation-for="Input.KullaniciAdi" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Sifre" class="form-control" type="password" autocomplete="current-password" aria-required="true" placeholder="Şifre" />
                            <label asp-for="Input.Sifre" class="form-label">Şifre</label>
                            <span asp-validation-for="Input.Sifre" class="text-danger"></span>
                        </div>
                        <div class="mt-4">
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Giriş Yap</button>
                        </div>
                        <div class="mt-3 text-center">
                            <p>Hesabınız yok mu? <a asp-page="/Register">Kayıt Olun</a></p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
